<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="FlipKart Mobile App Automation Test" >
    <test name="Testing FlipKart Mobile App" >
        <classes>
            <class name="com.testAppium.OpenApp" />
            <class name="com.testAppium.OpenCategories" />
        </classes>

    </test>
</suite>
